<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.BoomECI.persistencia.mybatis.mappers.EstudianteMapper">
    
    <resultMap type='Estudiante' id='EstudianteResult'>
        <id property='codigo' column='codigo'/>        
        <result property='nombre' column='nombre'/>
        <result property='correo' column='correo'/>
        <result property='telefono' column='telefono'/>         
        <result property='identificacion' column='identificacion'/> 
        <result property='tipo_id' column='tipo_id'/>
        <association property="planDeEstudios" javaType="PlanDeEstudios" columnPrefix="pl_"  resultMap="PlanDeEstudiosResult"/>         
        <association property="consejero" javaType="Consejero" columnPrefix="con_"  resultMap="ConsejeroResult"/>
        <association property="acudiente" javaType="Acudiente"  columnPrefix="acu_" resultMap="AcudienteResult"/>  
        <collection property="materiasActuales" ofType="Materia" columnPrefix="maa_" resultMap="MateriaResult"/> 
        <collection property="materiasCursadas" ofType="Materia" columnPrefix="mac_" resultMap="MateriaResult"/>
        <collection property="solicitudes" ofType="SolicitudCancelacion" columnPrefix="sol_" resultMap="SolicitudResult"/>               
    </resultMap>  
    
    <resultMap type='PlanDeEstudios' id='PlanDeEstudiosResult'>
        <id property='carrera' column='carrera'/>
        <id property='numeroPlanDeEstudio' column='ID'/>
        <result property='grafo' column='grafo'/>
        <result property='numeroDeCreditosTotales' column='creditos' />   
        <result property='numeroDeAsignaturas' column='nummaterias' />         
     </resultMap>
      
     <resultMap type='Consejero' id='ConsejeroResult'>
        <id property='id' column='codigo'/>
        <result property='nombre' column='nombre' />
        <result property='correo' column='correo' />         
     </resultMap>
     
      <resultMap type='Acudiente' id='AcudienteResult'>
        <id property='cedula' column='cedula'/>
        <result property='nombre' column='nombre' />
        <result property='correo' column='correo' />
        <result property='telefono' column='telefono' />           
     </resultMap>
     
     <resultMap type='SolicitudCancelacion' id='SolicitudResult'>
        <id property='id' column='id'/>                
        <result property='fecha' column='fecha'/>
        <result property='estado' column='estado'/>       
        <result property='justificacion' column='justificacion'/>   
        <result property='comentario' column='comentario'/>   
        <result property='avalConsejero' column='avalConsejero'/>   
        <result property='avalAcudiente' column='avalAcudiente'/> 
        <result property='materiaSolicitada' column="Materia"/>  
        <result property='Estudiante' column="Estudiante"/>                 
    </resultMap> 
    
    <resultMap type='Materia' id='MateriaResult'>
        <id property='nemonico' column='nemonico'/>                     
    </resultMap> 
     
    <select parameterType="map" id="loadEstudianteById" resultMap="EstudianteResult">
        select  
        est.codigo,
        est.nombre,
        est.correo,
        est.telefono,
        est.identificacion,
        est.tipo_id, 
        est.creditos,       
        acu.nombre AS acu_nombre,
        acu.cedula AS acu_cedula,
        acu.correo AS acu_correo,
        acu.telefono AS acu_telefono,        
        con.nombre AS con_nombre,
        con.codigo AS con_codigo, 
        con.correo AS con_correo,        
        pl.Carrera AS pl_Carrera,
        pl.ID AS pl_ID,
        pl.Grafo AS pl_Grafo,
        pl.creditos AS pl_creditos,
        pl.nummaterias AS pl_nummaterias,        
        mac.materia AS mac_materia ,
        maa.Materia AS maa_Materia,        
        sol.id AS sol_id, 
        sol.fecha AS sol_fecha,
        sol.estado AS sol_estado, 
        sol.justificacion AS sol_justificacion,
        sol.comentario AS sol_comentario,
        sol.avalAcudiente AS sol_avalAcudiente,
        sol.avalConsejero AS sol_avalConsejero,
        sol.Materia AS sol_Materia, 
        sol.Estudiante AS sol_Estudiante        
        from  
        Estudiante AS est 
        LEFT OUTER Join Acudiente AS acu ON  est.Acudiente=acu.cedula  
        LEFT OUTER JOIN Consejero AS con ON est.consejero=con.codigo 
        LEFT OUTER JOIN Plan_de_Estudio as pl ON (est.Plan_ID=pl.ID)
        LEFT OUTER JOIN MateriasCursadas AS mac ON est.codigo=mac.Estudiante 
        LEFT OUTER JOIN MateriasActuales AS maa ON est.codigo=maa.Estudiante
        LEFT OUTER JOIN solicitud_de_cancelacion AS sol ON est.codigo=sol.estudiante
        WHERE est.codigo=#{ide}
    </select>  
    
    <select parameterType="map" id="loadMateriasCursadasById" resultMap="MateriaResult">
        select  
        mac.materia AS nemonico       
        from  
        Estudiante AS est LEFT OUTER JOIN MateriasCursadas AS mac ON est.codigo=mac.Estudiante         
        WHERE est.codigo=#{ide}
    </select> 
    
    <select parameterType="map" id="loadMateriasActualesById" resultMap="MateriaResult">
        select  
        maa.materia AS nemonico       
        from  
        Estudiante AS est LEFT OUTER JOIN MateriasActuales AS maa ON est.codigo=maa.Estudiante         
        WHERE est.codigo=#{ide}
    </select>  
    
    <select parameterType="map" id="consultarEstudiantes" resultMap="EstudianteResult">
         select  
        est.codigo,
        est.nombre,
        est.correo,
        est.telefono,
        est.identificacion,
        est.tipo_id,        
        acu.nombre AS acu_nombre,
        acu.cedula AS acu_cedula,
        acu.correo AS acu_correo,
        acu.telefono AS acu_telefono,        
        con.nombre AS con_nombre,
        con.codigo AS con_codigo, 
        con.correo AS con_correo,        
        pl.Carrera AS pl_Carrera,
        pl.ID AS pl_ID,
        pl.Grafo AS pl_Grafo,
        pl.creditos AS pl_creditos,
        pl.nummaterias AS pl_nummaterias,        
        mac.materia AS mac_materia ,
        maa.Materia AS maa_Materia,        
        sol.id AS sol_id, 
        sol.fecha AS sol_fecha,
        sol.estado AS sol_estado, 
        sol.justificacion AS sol_justificacion,
        sol.comentario AS sol_comentario,
        sol.avalAcudiente AS sol_avalAcudiente,
        sol.avalConsejero AS sol_avalConsejero,
        sol.Materia AS sol_Materia         
        from  
        Estudiante AS est 
        LEFT OUTER Join Acudiente AS acu ON  est.Acudiente=acu.cedula  
        LEFT OUTER JOIN Consejero AS con ON est.consejero=con.codigo 
        LEFT OUTER JOIN Plan_de_Estudio as pl ON (est.Plan_ID=pl.ID)
        LEFT OUTER JOIN MateriasCursadas AS mac ON est.codigo=mac.Estudiante 
        LEFT OUTER JOIN MateriasActuales AS maa ON est.codigo=maa.Estudiante
        LEFT OUTER JOIN solicitud_de_cancelacion AS sol ON est.codigo=sol.estudiante  
    </select>  
      
    <insert id="insertarSolicitud">
        insert into solicitud_de_cancelacion (fecha,estado,id,justificacion,comentario,avalAcudiente,avalConsejero,Estudiante)
            VALUES(#{sol.fecha},#{sol.estado},#{sol.id},#{sol.justificacion},#{sol.comentario},#{sol.avalAcudiente},#{sol.avalConsejero},#{sol.Estudiante})
        
    </insert>
      
   
  
</mapper>
