<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="persistencia.mybatis.mappers.EstudianteMapper">
    
    <resultMap type='Estudiante' id='EstudianteResult'>
        <id property='codigo' column='codigo'/>        
        <result property='nombre' column='nombre'/>
        <result property='correo' column='correo'/>
        <result property='telefono' column='telefono'/>         
        <result property='identificacion' column='identificacion'/> 
        <result property='tipo_id' column='tipo_id'/>
        <association property="planDeEstudios" columnPrefix="pl_" javaType="PlanDeEstudios"></association>         
        <association property="consejero" columnPrefix="con_" javaType="Consejero"></association>
        <association property="acudiente" columnPrefix="acu_" javaType="Acudiente"></association>  
        <collection property="materiasActuales" ofType="Materia" columnPrefix="maa_" resultMap="Materiaresult"></collection> 
        <collection property="materiasCursadas" ofType="Materia" columnPrefix="mac_" resultMap="Materiaresult"></collection> 
        <collection property="solicitudes" ofType="SolicitudCancelacion" columnPrefix="sol_" resultMap="SolicitudResult"></collection>                     
    </resultMap>  
    
    <resultMap type='PlanDeEstudios' id='PlanDeEstudiosResult'>
        <id property='carrera' column='Carrera'/>
        <id property='numeroPlanDeEstudio' column='ID'/>
        <result property='numeroDeCreditosTotales' column='creditos' />   
        <result property='numeroDeAsignaturas' column='nummaterias' />         
     </resultMap>
      
     <resultMap type='Consejero' id='ConsejeroResult'>
        <id property='codigo' column='codigo'/>
        <result property='nombre' column='nombre' />
        <result property='correo' column='correo' />         
     </resultMap>
     
      <resultMap type='Acudiente' id='AcudienteResult'>
        <id property='cedula' column='cedula'/>
        <result property='nombre' column='nombre' />
        <result property='correo' column='correo' />
        <result property='telefono' column='telefono' />           
     </resultMap>
     
     <resultMap type='SolicitudCancelacion' id='SolicitudResult'>
        <id property='id' column='id'/>                
        <result property='fecha' column='fecha'/>
        <result property='estado' column='estado'/>       
        <result property='justificacion' column='justificacion'/>   
        <result property='comentario' column='comentario'/>   
        <result property='avalConsejero' column='avalConsejero'/>   
        <result property='avalAcudiente' column='avalAcudiente'/> 
        <result property='materiaSolicitada' column="Materia"/>                   
    </resultMap> 
    
    <resultMap type='Materia' id='MateriaResult'>
        <id property='id' column='nemonico'/>                     
    </resultMap> 
     
    <select id="loadEstudianteById" resultMap="EstudianteResult">
        select  est.codigo,est.nombre,est.correo,est.telefono,est.identificacion,est.tipo_id,acu.nombre AS acu_nombre,acu.cedula AS acu_cedula,acu.correo AS acu_correo,acu.telefono AS acu_telefono,con.nombre AS con_nombre,con.codigo AS con_codigo, con.correo AS con_correo,pl.Carrera AS pl_Carrera,pl.ID AS pl_ID,pl.Grafo AS pl_Grafo,pl.creditos AS pl_creditos,pl.nummaterias AS pl_nummaterias,mac.Materia AS mac_Materia,maa.Materia AS maa_Materia,sol.id AS sol_id, sol.fecha AS sol_fecha,sol.estado AS sol_estado, sol.justificacion AS sol_justificacion,sol.comentario AS sol_comentario,sol.avalAcudiente AS sol_avalAcudiente,sol.avalConsejero AS sol_avalConsejero,sol.Materia AS sol_Materia 
        from  Estudiante AS est Join Acudiente AS acu ON  est.Acudiente=acu.cedula  
        JOIN Consejero AS con ON est.consejero=con.codigo 
        JOIN Plan_de_Estudio as pl ON (est.Plan_ID=pl.ID)
        JOIN MateriasCursadas AS mac ON est.codigo=mac.Estudiante 
        JOIN MateriasActuales AS maa ON est.codigo=maa.Estudiante
        JOIN solicitud_de_cancelacion AS sol ON est.solicitudCancelacion=sol.id
        WHERE est.codigo=#{ide}
    </select>  
    
    <select id="consultarEstudiantes" resultMap="EstudianteResult">
        select  est.codigo,est.nombre,est.correo,est.telefono,est.identificacion,est.tipo_id,acu.nombre AS acu_nombre,acu.cedula AS acu_cedula,acu.correo AS acu_correo,acu.telefono AS acu_telefono,con.nombre AS con_nombre,con.codigo AS con_codigo, con.correo AS con_correo,pl.Carrera AS pl_Carrera,pl.ID AS pl_ID,pl.Grafo AS pl_Grafo,pl.creditos AS pl_creditos,pl.nummaterias AS pl_nummaterias,mac.Materia AS mac_Materia,maa.Materia AS maa_Materia,sol.id AS sol_id, sol.fecha AS sol_fecha,sol.estado AS sol_estado, sol.justificacion AS sol_justificacion,sol.comentario AS sol_comentario,sol.avalAcudiente AS sol_avalAcudiente,sol.avalConsejero AS sol_avalConsejero,sol.Materia AS sol_Materia 
        from  Estudiante AS est Join Acudiente AS acu ON  est.Acudiente=acu.cedula  
        JOIN Consejero AS con ON est.consejero=con.codigo 
        JOIN Plan_de_Estudio as pl ON (est.Plan_ID=pl.ID)
        JOIN MateriasCursadas AS mac ON est.codigo=mac.Estudiante 
        JOIN MateriasActuales AS maa ON est.codigo=maa.Estudiante
        JOIN solicitud_de_cancelacion AS sol ON est.solicitudCancelacion=sol.id      
    </select>      
   
  
</mapper>
