<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="edu.eci.pdsw.persistence.mappers.EstudianteMapper">
    
    <resultMap type='Estudiante' id='EstudianteResult'>
        <id property='codigo' column='codigo'/>        
        <result property='nombre' column='nombre'/>
        <result property='telefono' column='telefono'/> 
        <result property='correo' column='correo'/>
        <result property='identificacion' column='identificacion'/> 
        <result property='tipo_id' column='tipo_id'/>
        <result property='plan_de_estudio' column='plan_de_estudio'/> 
        <association property="consejero" javaType="Consejero"></association>
        <association property="acudiente" javaType="Acudiente"></association>              
    </resultMap>  
      
     <resultMap type='Consejero' id='ConsejeroResult'>
        <id property='codigo' column='codigo'/>
        <result property='nombre' column='nombre' />
        <result property='correo' column='correo' />         
     </resultMap>
     
      <resultMap type='Acudiente' id='AcuedienteResult'>
        <id property='cedula' column='cedula'/>
        <result property='nombre' column='nombre' />
        <result property='correo' column='correo' />
        <result property='telefono' column='telefono' />           
     </resultMap>
     
     <resultMap type='Solucitud' id='SolucitudResult'>
        <id property='id' column='id'/>                
        <result property='fecha' column='fecha'/>
        <result property='estado' column='estado'/> 
        <result property='materia' column='materia'/>
        <result property='justificacion' column='justificacion'/>         
        <association property="estudiante" javaType="Estudiante"></association>              
    </resultMap>   
    
</mapper>
