<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    <typeAliases>
        <typeAlias type='entidades.Estudiante' alias='Estudiante'/>
        <typeAlias type='entidades.Acudiente' alias='Acudiente'/>
        <typeAlias type='entidades.Consejero' alias='Consejero'/>
        <typeAlias type='entidades.SolicitudCancelacion' alias='SolicitudCancelacion'/>
        <typeAlias type='entidades.Materia' alias='Materia'/>
        <typeAlias type='entidades.PlanDeEstudios' alias='PlanDeEstudios'/>
    </typeAliases>
            
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-54-225-70-53.compute-1.amazonaws.com:5432/de2c6qgiud727a?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/> 
                <property name="username" value="qsidsbqrwdhvnm" />
                <property name="password" value="2421de2f9da04d37fa2e10a394d437af6a96e41fee5afe4938a90ca1018fc358" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/EstudianteMapper.xml"></mapper>
        <mapper resource="mappers/ConsejeroMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>