<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    <typeAliases>
        <typeAlias type='com.BoomECI.entidades.Estudiante' alias='Estudiante'/>
        <typeAlias type='com.BoomECI.entidades.Acudiente' alias='Acudiente'/>
        <typeAlias type='com.BoomECI.entidades.Consejero' alias='Consejero'/>
        <typeAlias type='com.BoomECI.entidades.SolicitudCancelacion' alias='SolicitudCancelacion'/>
        <typeAlias type='com.BoomECI.entidades.Materia' alias='Materia'/>
        <typeAlias type='com.BoomECI.entidades.PlanDeEstudios' alias='PlanDeEstudios'/>
    </typeAliases>
     
                                  
                                        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver" />
                <property name="url" value="jdbc:h2:file:./target/db/testdb;MODE=PostgreSQL" />
                <property name="username" value="sa" />
                <property name="password" value="" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/EstudianteMapper.xml"></mapper>
        <mapper resource="mappers/ConsejeroMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>
